/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../usr/lib/ruby/gems/2.4.0/gems/compass-1.0.3/vendor/bundle/ruby/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/lib/ruby/gems/2.4.0/gems/compass-1.0.3/vendor/bundle/ruby/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/lib/ruby/gems/2.4.0/gems/compass-1.0.3/vendor/bundle/ruby/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/lib/ruby/gems/2.4.0/gems/compass-1.0.3/vendor/bundle/ruby/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/lib/ruby/gems/2.4.0/gems/compass-1.0.3/vendor/bundle/ruby/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/lib/ruby/gems/2.4.0/gems/compass-1.0.3/vendor/bundle/ruby/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/lib/ruby/gems/2.4.0/gems/compass-1.0.3/vendor/bundle/ruby/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/lib/ruby/gems/2.4.0/gems/compass-1.0.3/vendor/bundle/ruby/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/lib/ruby/gems/2.4.0/gems/compass-1.0.3/vendor/bundle/ruby/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*=============================================================
slide
=============================================================== */
/* line 10, ../sass/style.scss */
.slide {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
/* line 14, ../sass/style.scss */
.slide .point {
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background-color: black;
}
/* line 20, ../sass/style.scss */
.slide .un {
  position: absolute;
  bottom: 15%;
  left: 40%;
}
/* line 26, ../sass/style.scss */
.slide .deux {
  position: absolute;
  bottom: 15%;
  left: 45%;
}
/* line 32, ../sass/style.scss */
.slide .trois {
  position: absolute;
  bottom: 15%;
  left: 50%;
}
/* line 38, ../sass/style.scss */
.slide .quatre {
  position: absolute;
  bottom: 15%;
  left: 55%;
}
/* line 44, ../sass/style.scss */
.slide .cinq {
  position: absolute;
  bottom: 15%;
  left: 60%;
}
/* line 51, ../sass/style.scss */
.slide .slider {
  display: none;
  margin: 0 auto;
}
/* line 55, ../sass/style.scss */
.slide #prev, .slide #next {
  border-style: none;
  background-color: transparent;
}
/* line 58, ../sass/style.scss */
.slide #prev img, .slide #next img {
  width: 50px;
  height: 50px;
}
/* line 64, ../sass/style.scss */
.slide #next img {
  position: absolute;
  top: 30px;
  right: 24%;
  transform: rotate(260deg);
}
/* line 73, ../sass/style.scss */
.slide #prev img {
  position: absolute;
  top: 30px;
  left: 24%;
  transform: rotate(90deg);
}

/*=========================================================
calculator
=========================================================== */
/* line 84, ../sass/style.scss */
table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
  padding-left: 3px;
  padding-right: 3px;
}

/* line 93, ../sass/style.scss */
th {
  font-weight: 300;
  text-align: center;
}

/* line 101, ../sass/style.scss */
input {
  border-radius: 3px;
}

/* line 106, ../sass/style.scss */
input:invalid {
  background-color: red;
}

/* line 112, ../sass/style.scss */
#calculator {
  width: 310px;
  border-radius: 4px;
  background-color: #2E7D32;
}

/* line 118, ../sass/style.scss */
#calculator, #calculator table {
  margin: 0 auto;
  text-align: center;
}

/* line 124, ../sass/style.scss */
#calculator #display {
  font-size: 160%;
  vertical-align: center;
  text-align: right;
  width: 100%;
  min-height: 45px;
  border: 1px solid grey;
  border-radius: 10px;
}

/* line 138, ../sass/style.scss */
#calculator table, #calculator tr, #calculator td {
  border: none;
}

/* line 144, ../sass/style.scss */
#calculator td {
  padding: 2px;
}

/* line 148, ../sass/style.scss */
#calculator input {
  font-size: 200%;
  color: black;
  text-align: center;
  vertical-align: center;
  height: 50px;
  width: 72px;
  border: 2px solid grey;
  border-radius: 17px;
}

/*========================================================================
pair game
=========================================================================== */
/* line 166, ../sass/style.scss */
#dog {
  position: relative;
  perspective: 800px;
}

/* line 170, ../sass/style.scss */
.card-effect {
  transform-style: preserve-3d;
  transition: transform 0.2s;
  position: relative;
}

/* line 176, ../sass/style.scss */
.card-effect div {
  backface-visibility: hidden;
}

/* line 181, ../sass/style.scss */
.card-effect .card-back {
  height: 200px;
  width: 120px;
  position: absolute;
  top: 0;
  left: 20px;
  right: 0;
  border-radius: 3px;
  transform: rotateY(180deg);
}

/* line 192, ../sass/style.scss */
.card-effect.flip {
  transform: rotateY(180deg);
}

/* line 196, ../sass/style.scss */
.dog {
  background: url("../img/dog.jpg");
  background-size: cover;
  background-position: right;
  width: 120px;
  height: 200px;
  border-radius: 3px;
  transform: rotateY(360deg);
  position: relative;
  left: 5px;
}

/* line 207, ../sass/style.scss */
.unclickable {
  pointer-events: none;
}

/* line 210, ../sass/style.scss */
#replay {
  position: absolute;
  bottom: 470px;
}

/*========================================================================
footer
========================================================================== */
/* line 217, ../sass/style.scss */
footer {
  border: 2px solid black;
  border-radius: 2px;
  height: 66px;
}
/* line 221, ../sass/style.scss */
footer p {
  line-height: 40px;
}
