/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../usr/lib/ruby/gems/2.4.0/gems/compass-1.0.3/vendor/bundle/ruby/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../usr/lib/ruby/gems/2.4.0/gems/compass-1.0.3/vendor/bundle/ruby/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../usr/lib/ruby/gems/2.4.0/gems/compass-1.0.3/vendor/bundle/ruby/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../usr/lib/ruby/gems/2.4.0/gems/compass-1.0.3/vendor/bundle/ruby/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../usr/lib/ruby/gems/2.4.0/gems/compass-1.0.3/vendor/bundle/ruby/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../usr/lib/ruby/gems/2.4.0/gems/compass-1.0.3/vendor/bundle/ruby/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../usr/lib/ruby/gems/2.4.0/gems/compass-1.0.3/vendor/bundle/ruby/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../usr/lib/ruby/gems/2.4.0/gems/compass-1.0.3/vendor/bundle/ruby/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../usr/lib/ruby/gems/2.4.0/gems/compass-1.0.3/vendor/bundle/ruby/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/style.scss */
.slide {
  width: 600px;
  margin: 0 auto;
}
/* line 10, ../sass/style.scss */
.slide .slider {
  display: none;
}

/* line 14, ../sass/style.scss */
table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
  padding-left: 3px;
  padding-right: 3px;
}

/* line 23, ../sass/style.scss */
th {
  font-weight: 700;
  text-align: center;
}

/* line 31, ../sass/style.scss */
input {
  border-radius: 3px;
}

/* line 36, ../sass/style.scss */
input:invalid {
  background-color: red;
}

/* line 42, ../sass/style.scss */
.center {
  text-align: center;
}

/* line 47, ../sass/style.scss */
.float-left, .float-right {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/* line 55, ../sass/style.scss */
.float-left {
  float: left;
  margin-left: 0;
  margin-right: 4px;
}

/* line 63, ../sass/style.scss */
.float-right {
  float: right;
  margin-left: 4px;
  margin-right: 0;
}

/* line 72, ../sass/style.scss */
#calculator, #calculator table {
  margin: 0 auto;
  text-align: center;
}

/* line 78, ../sass/style.scss */
#calculator #screen {
  font-size: 160%;
  vertical-align: center;
  text-align: right;
  margin: 8px;
  padding: 5px;
  min-height: 45px;
  border: 1px solid grey;
  border-radius: 10px;
}

/* line 93, ../sass/style.scss */
#calculator table, #calculator tr, #calculator td {
  border: none;
}

/* line 98, ../sass/style.scss */
#calculator td {
  padding: 8px;
}

/* line 103, ../sass/style.scss */
#calculator button {
  font-size: 200%;
  color: black;
  text-align: center;
  vertical-align: center;
  height: 90px;
  width: 102px;
  border: 2px solid grey;
  border-radius: 17px;
}
