/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
/*=============================================================
slide
=============================================================== */
.slide{
  width: 100%;
  margin: 0 auto;
  position: relative;
  .point{
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background-color: black;
  }
  .un{

    position: absolute;
    bottom: 15%;
    left:40%;
  }
  .deux{

    position: absolute;
    bottom: 15%;
    left:45%;
  }
  .trois{

    position: absolute;
    bottom: 15%;
    left:50%;
  }
  .quatre{

    position: absolute;
    bottom: 15%;
    left:55%;
  }
  .cinq{

    position: absolute;
    bottom: 15%;
    left:60%;
  }

  .slider{
    display: none;
    margin: 0 auto;
  }
  #prev, #next{
    border-style: none;
    background-color: transparent;
    img{
      width: 50px;
      height: 50px;
    }
  }
  #next{
    img{
      position: absolute;
      top: 30px;
      right:24%;
      transform: rotate(260deg);

    }
  }
  #prev{
    img{
      position: absolute;
      top: 30px;
      left:24%;
      transform: rotate(90deg);
    }
  }
}
/*=========================================================
calculator
=========================================================== */
table, td, th
{
  border: 1px solid black;
  border-collapse: collapse;

  padding-left: 3px;
  padding-right: 3px;
}

th
{
  font-weight: 300;
  text-align: center;
}



input
{
  border-radius: 3px;
}

input:invalid
{
  background-color: red;
}


#calculator{
  width: 310px;
  border-radius: 4px;
  background-color: #2E7D32 ;
}

#calculator, #calculator table
{
  margin: 0 auto;
  text-align: center;
}

#calculator #display
{
  font-size: 160%;
  vertical-align: center;
  text-align: right;
  width: 100%;


  min-height: 45px;

  border: 1px solid grey;
  border-radius: 10px;
}

#calculator table, #calculator tr, #calculator td
{
  border: none;
}

#calculator{
  td{padding: 2px;}
}

#calculator{
  input{
    font-size: 200%;
    color: black;
    text-align: center;
    vertical-align: center;

    height: 50px;
    width: 72px;

    border: 2px solid grey;
    border-radius: 17px;
  }
}

/*========================================================================
pair game
=========================================================================== */

#dog{
  position: relative;
  perspective: 800px;
}
.card-effect{
  transform-style: preserve-3d;
  transition: transform 0.2s;
  position: relative;
}
.card-effect{
  div{
    backface-visibility: hidden;
  }
}
.card-effect{
  .card-back{
    height: 200px;
    width: 120px;
    position: absolute;
    top: 0;
    left: 20px;
    right: 0;
    border-radius: 3px;
    transform: rotateY( 180deg );
  }
}
.card-effect.flip{
  transform: rotateY( 180deg );
}

.dog{
  content: url('../img/dog.jpg');
  width: 120px;
  height: 200px;
  border-radius:3px;
  transform: rotateY(360deg);
  position: relative;
  left: 5px;
}
.unclickable{
  pointer-events: none;
}
#replay{
  position: absolute;
  bottom:470px;
}
/*========================================================================
footer
========================================================================== */
footer{
  border: 2px solid black;
  border-radius: 2px;
  height: 66px;
  p{
    line-height: 40px;
  }
}